.p-datatable-tbody tr {
    background: #c1c7da !important;
  }
.p-datatable-thead tr th{
    background: #3e6ef1 !important;
    color:white;
}
.p-paginator{
    background: #c1c7da!important;

}

.p-datatable-thead span{
    color:white;
}
.offer{
    text-align: left;
}
.offer-title{
    font-weight: 700;
    font-size: 150%;
}
.offer-detail{
    margin-left: 95%;
    margin-bottom: 0%;
}
.offer-delete{
    margin-left: 95%;
    margin-bottom: 0%;
}